.s-gifting-modal{
    .s-checkbox{
        background-color: var(--surface-raised) !important;
        border: 1px solid var(--color-border-strong) !important;
        &:focus{
            --tw-ring-color: transparent !important;
        }
    }
    .s-gifting-filepond-placeholder-icon svg{
        fill: var(--color-border-strong) !important;
    }
}
.s-gifting-widget .s-list-tile-item{
    @apply border-none rounded-t-none;
}